@import "tailwindcss";
@plugin "daisyui";

@theme {
  
  @keyframes drop-shadow-glow-gold {
    0%, 100% { 
      filter: drop-shadow(0 0 5px rgba(223, 190, 2, 0.4)); 
    }
    50% { 
      filter: drop-shadow(0 0 12px rgba(223, 190, 2, 0.7)); 
    }
  }

  --animate-drop-shadow-glow-gold: drop-shadow-glow-gold 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}