.gamecard-bg-purple {
    background: radial-gradient(circle,rgba(93, 42, 155, 1) 0%, rgba(57, 17, 74, 1) 100%);
}

.gamecard-bg-gold {
    background: radial-gradient(
    circle, 
    rgba(218, 165, 32, 1) 0%,  
    rgba(184, 134, 11, 1) 50%,  
    rgba(101, 67, 33, 1) 100%  
);
}

.text-gold {
    color: #ffd700;
}

.platform-steam {
    background: linear-gradient(180deg,rgba(10, 27, 64, 1) 0%, rgba(20, 45, 96, 1) 52%, rgba(19, 129, 178, 1) 100%);
}

.platform-epic {
    background: black;
}

.platform-emulador {
    background: #9c27b0;
}
.platform-xbox {
    background: rgb(1, 153, 21);
}

.platform-switch {
    background: #ff1515;
}

.score-F {
    background: #546e7a;
}

.score-D {
    background: #a1887f;
}

.score-C {
    background: #00e676;
}

.score-B {
    background: #1de9b6;
}

.score-A {
    background: #2979ff;
}

.score-S {
    background: #f50057;
}

.score-SS {
    background: #ff6d00;
}

.score-SSS {
    background: #ffd700;
}