.gamecard-bg-purple {
    background: radial-gradient(circle,rgba(93, 42, 155, 1) 0%, rgba(57, 17, 74, 1) 100%);
}

.gamecard-bg-basic {
    background: radial-gradient(circle,rgba(93, 42, 155, 0.7) 0%, rgba(57, 17, 74, 0.7) 100%);
}

.gamecard-bg-gold {
    background: linear-gradient(
    135deg, 
    #b8860b 0%, 
    #dfbe02 50%, 
    #856404 100%
  );
}

.gamecard-border-basic {
    border-color: rgba(93, 42, 155, 1);
}

.gamecard-border-gold {
  border-color: black;
}

.text-gold {
    color: #ffd700;
}

.score-N\/A {
    background: black;
}

.score-D {
  background: radial-gradient(circle, #D1D1D1 0%, #808080 60%, #404040 100%);
}

.score-C {
  background: radial-gradient(circle, #B0C4DE 0%, #708090 60%, #2F4F4F 100%);
}

.score-B {
  background: radial-gradient(circle, #A1C4FD 0%, #4A6984 70%, #1E2F3E 100%);
}

.score-A {
  background: radial-gradient(circle, #00D2FF 0%, #0084A3 50%, #003D4D 100%);
}

.score-S {
  background: radial-gradient(circle, #D4AF37 0%, #B8860B 55%, #463500 100%);
}

.score-SS {
  background: radial-gradient(circle, #FF9100 0%, #CC7000 50%, #663300 100%);
}

.score-SSS {
  background: radial-gradient(circle, #FF4500 0%, #B32400 50%, #300000 100%);
  animation: sss-radial-pulse 2s infinite ease-in-out;
}

@keyframes sss-radial-pulse {
  0%, 100% { filter: drop-shadow(0px 0px 8px rgba(255, 69, 0, 0.4)); opacity: 1;}
  50% { filter: drop-shadow(0px 0px 20px rgba(255, 0, 0, 0.8)); opacity: 0.9;}
}