.gamecard-bg-purple {
    background: radial-gradient(circle,rgba(93, 42, 155, 1) 0%, rgba(57, 17, 74, 1) 100%);
}

.gamecard-bg-basic {
    background: radial-gradient(circle,rgba(93, 42, 155, 0.7) 0%, rgba(57, 17, 74, 0.7) 100%);
}

.gamecard-bg-gold {
    background: radial-gradient(
    circle, 
    rgba(218, 165, 32, 0.7) 0%,  
    rgba(184, 134, 11, 0.7) 50%,  
    rgba(101, 67, 33, 0.3) 100%  
);
}

.gamecard-border-basic {
    border-color: rgba(93, 42, 155, 1);
}

.gamecard-border-gold {
    border-color: #ffd700;
}

.text-gold {
    color: #ffd700;
}

.platform-steam {
    background: linear-gradient(180deg,rgba(10, 27, 64, 1) 0%, rgba(20, 45, 96, 1) 52%, rgba(19, 129, 178, 1) 100%);
}

.platform-epic {
    background: linear-gradient(180deg,rgba(26, 26, 26, 1) 0%, rgba(56, 56, 56, 1) 100%);
}

.platform-uplay {
    background: linear-gradient(180deg,rgba(38, 79, 87, 1) 0%, rgba(89, 141, 171, 1) 100%);
}

.platform-emulador {
    background: linear-gradient(180deg,rgba(92, 4, 112, 1) 0%, rgba(156, 39, 176, 1) 100%);
}
.platform-gp {
    background: linear-gradient(180deg,rgba(0, 143, 36, 1) 0%, rgba(0, 84, 21, 1) 100%);
}

.platform-switch {
    background: linear-gradient(180deg,rgba(255, 0, 0, 1) 0%, rgba(128, 0, 0, 1) 100%);
}

.score-N\/A {
    background: black;
}

.score-F {
    background: #546e7a;
}

.score-D {
    background: #a1887f;
}

.score-C {
    background: #00e676;
}

.score-B {
    background: #1de9b6;
}

.score-A {
    background: #2979ff;
}

.score-S {
    background: #f50057;
}

.score-SS {
    background: #ff6d00;
}

.score-SSS {
    background: #ffd700;
}